
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.app {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    margin: 0 0 64px;
    text-align: center;
    text-shadow: 2px 3px 2px rgb(0 0 0 / 86%);
    -webkit-animation: puff-in-center 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: puff-in-center 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
